<h1>All Customers</h1>

<% @customers.each do |customer| %>
  <h3><a href="/customers/<%= customer.id %>"><%= customer.name %></a></h3>
  <p>Age: <%= customer.age %></p>
  <p>Rented Equipment?: <%= customer.equipment %></p>
<% end %>

<a href="/resorts/<%= @resort.id %>/customers/new">add a new customer to this resort</a>
