<a href="/customers">Back to Customers Index</a>

<h1><%= @customer.name %></h1>

<p>Rented Equipment: <%= @customer.equipment %></p>
<p>Age: <%= @customer.age %></p>

<a href="/customers/<%= @customer.id %>/edit">Update</a>
<form action="/customers/<%= @customer.id %>" method="POST">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" value="delete"/>
 </form>
