<a href="/athletes">Athlete Index</a><br>
<h1>All Teams</h1>

<% @teams.each do |team| %>
  <p><a href="/teams/<%= team.id %>"><%= team.name %></a> Created at: <%= team.created_at %> <a href="/teams/<%= team.id %>/edit">Update Team</a><br><br></p>
  <form action="/teams/<%= team.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %><br>

<a href="/teams/new">New Team</a><br><br>

<a href="/">Return to main menu</a>
