<a href="/athletes">Athlete Index</a><br>
<a href="/teams">Team Index</a>
<h1>Athletes</h1>

<% @athletes.each do |athlete| %>
  <% if @team.id == athlete.team_id %>
    <h3><%= athlete.name %></h3>
    <p>Age: <%= athlete.age %></p>
    <p>Currently Injured?: <%= athlete.injury_list %></p>
    <a href="/athletes/<%= athlete.id %>/edit">Update Athlete</a><br>
    <form action="/athletes/<%= athlete.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  <% end %>
<% end %><br>

<form action="/teams/<%= @team.id %>/athletes/new" method="get">
  <button type="submit">Create Athlete</button>
</form>
