<h1>Athletes</h1>

<% @athletes.each do |athlete| %>
  <% if @team.id == athlete.team_id %>
    <h3><a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></h3>
    <p>Age: <%= athlete.age %></p>
    <p>Currently Injured?: <%= athlete.injury_list %></p>
  <% end %>
<% end %><br>

<form action="/teams/<%= @team.id %>/athletes/new" method="get">
  <button type="submit">Create Athlete</button>
</form>
